<!--Hoi Yeung Suen, 301314454, 30/9/2023,Fall 2023-->
<footer>
  <nav class="navbar fixed-bottom navbar-light bg-black">


    <h6 class="footer">&copy;&nbsp;Copyright Hoiyeung Suen - Assignment1- COMP229 - Fall 2023</h6>
    </div>
  </nav>
</footer>