<!--Hoi Yeung Suen, 301314454, 30/9/2023,Fall 2023-->
<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>

        <link rel="stylesheet" href="content/style.css" />
        <main class="container">
            <div class="middle">
                <div class="jumbotron">

                    <h1>Welcome to <%= title %> Page</h1>
                    <h1>Please clcik to see details</h1>
                    <img src="/img/project1.jpg" style: width="300px" ; height="140px">
                    <p><a href="http://studentweb.cencol.ca/hsuen3/Webinterface/assignment3.html">Online store</a></p>
                    <img src="/img/project2.jpg" style: width="500px" ; height="200px">
                    <p><a href="http://studentweb.cencol.ca/hsuen3/assignment2.html">Online Gallery</a></p>
                    <img src="/img/project3.jpg" style: width="500px" ; height="200px">
                    <p><a href="http://studentweb.cencol.ca/hsuen3/assignment3.html">Games</a></p>

                </div>

        </main>

        <%- include ('partials/bottom_nav.ejs') %>
